<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using Force.com and Node.js</title>
  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="table-data">
<h2>Display Data using Node.js & Force.com</h2>
   <table class="table">
   <thead>
        <tr>
            <th scope="col">S.N</th>
            <th scope="col">Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Type</th>
            <th scope="col">Industry</th>
            <th scope="col">Rating</th>
        </tr>
      </thead>
       <tbody>
        <%
        if(userData != ''){
        var i=1;
           for(i = 1; i < userData.length; i++){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=userData[i]._fields.id; %></td>
            <td><%=userData[i]._fields.name; %></td>
            <td><%=userData[i]._fields.type; %></td>
            <td><%=userData[i]._fields.industry; %></td>
            <td><%=userData[i]._fields.rating; %></td>
            
            
        </tr>
        <%   } %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
       </tbody>
    </table>
    </div>
    <div class="text-center"><a href="https://nforcedemo1.herokuapp.com" class="btn btn-success text-center" > Back To Main </a> </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
